$background: #ebebeb;
$backgroundAlt: #f3f3f3;
$cardBackground: white;
$lightBorder: #dddddd;

$lightGrey: #868686;
$darkGrey: #484848;
$darkerGrey: #242424;
$accentOrange: #FF4A38;
$accentOrangeHover: #ff331f;

$buttonMain: $background;
$buttonRed: #9A5454;
